*.o
main
validation
generateAmphibian
generateDiabeteRisk
generateHCV
generateRgbHsv
generateMNIST
Doc/*.aux
Doc/*.log
Doc/*.gz
Doc/*.toc
Validation/*.aux
Validation/*.log
Validation/*.gz
Validation/*.toc
Datasets/mnist.json
